<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares Arceo</title>
</head>
<body>
    <h1 style="color: red ;">Bienvenidos a la Familia Arceo</h1>
    <h2> Tus datos no estan solo en tu ADN</h2>
    <p>Gracias a la tecnologia actual podes encontrar y dar hallazgo a datos e informacion clave sobre tus familiares</p> <br>
    <p>Solo basta saber programar y desarrollar una base de datos para que obtengas a un clic de distacia, respuestas a preguntas, como por ejemplo: ¿cuales son los apellidos completos de mis papas?</p> <br>
    <p style="color: rgb(13, 222, 218) ;">Bievenidos a la nueva era, donde la herencia, no solo es monetaria, sino tambien digital</p>
    
    
</body>
</html>